/*
 * WORLDCUP
 */

#container {
    width: 950px;
    height: 600px;
    border: 1px solid #CCC;
}

circle.team {
    stroke: white;
    stroke-width: 2px;
}

circle.team.highlight,
circle.team:hover {
    stroke: #fff503;
    stroke-width: 8px;
}


#flag-group {
    position: relative;
    height: 50px;
    width: 100%;
}

#circle-group {
    height: 550px;
    width: 100%;
}

.team {
    position: absolute;
    display: inline-block;
}

.team .team-code {
    font-family: "Arial Black", Gadget, sans-serif;
    vertical-align: middle;
    font-size: 13px;
    line-height: 90%;
}

.axis path,
.axis line {
    fill: none;
}
.axis text {
    display: none;
}

.axis.show path,
.axis.show line {
    stroke: #CCC;
}
.axis.show text {
    display: inherit;
}

/*
 * INTRO1
 */
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}


/*
 * INTRO2
 */
text {
  font: 10px sans-serif;
}
