/*
 * WORLDCUP
 */
circle.team {
    stroke: white;
    stroke-width: 2px;
}

circle.team:hover {
    stroke: #ffbc03;
    stroke-width: 5px;
}

#team_flags {
    position: relative;
}

.flagsp {
    position: absolute;
}

/*
 * INTRO1
 */
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}


/*
 * INTRO2
 */
text {
  font: 10px sans-serif;
}
