/*
 * WORLDCUP
 */
circle.team {
    stroke: white;
    stroke-width: 2px;
}

circle.team.highlight,
circle.team:hover {
    stroke: #ffe203;
    stroke-width: 5px;
}

#team-flags {
    position: relative;
}

.team {
    position: absolute;
    display: inline-block;
}

.team .team-code {
    font-family: "Arial Black", Gadget, sans-serif;
    vertical-align: middle;
    font-size: 13px;
    line-height: 90%;
}


/*
 * INTRO1
 */
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}


/*
 * INTRO2
 */
text {
  font: 10px sans-serif;
}
